[Desktop Entry]
Comment=A low contrast pastel look
Name=Card
X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@gmx.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-Name=Card
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
